<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars</title>
        <img src="/img/logo.jpg" alt="Meadowlark Travel logo" srcset="">
    </head>
    <body>
        {{{body}}}
    </body>
</html>